.coinSymbol {
  text-transform: uppercase;
}
.selectCours {
  background-color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  border: 1px solid #ffffff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

