$greyColor: rgba(107, 114, 128);
$darkGreyColor: #374151;
$redColor: red;
$greenColor: green;

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px 15px 15px;
  color: $greyColor;
}
