@import "../../styles/style.scss";

.header {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  border-bottom: solid 1px #dddddd;
  margin-bottom: 30px;
  .headerMembers {
    display: flex;
  }
  ul {
    display: flex;
    padding: 0px;
  }
  ul li {
    list-style: none;
    margin-left: 15px;
    color: $greyColor;
  }
  ul li span {
    color: #007bff;
    cursor: pointer;
    margin-left: 5px;
  }
  .darkModAndEn {
    display: flex;
    justify-content: space-between;
  }
  .headerSubscribeButton {
    color: #8dc647;
    border: 1px solid #8dc647;
    width: 82px;
    height: 33px;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
  }
  .headerSubscribeButton:hover {
    background-color: #cdd0d5;
  }
}
