.highAndLowPrices {
  margin-top: 15px;
  width: 35%;
  height: 15px;
  background-color: #dfe2e6;
  border-radius: 5px;
  position: relative;

  & :first-child {
    background: rgb(255, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 1) 0%,
      rgb(150, 141, 130),
      rgba(245, 255, 0, 1) 62%,
      rgba(176, 255, 0, 1) 76%
    );
    height: 15px;
    border-radius: 5px;
    position: absolute;
  }
}
.contOfHighAndLowPrices {
  display: flex;
  justify-content: space-between;
  width: 35%;
  color: black;
}
